<h1>Anagrams</h1>

<form action="/" method="post">
    <div class="form-group">
    <label for="word">Enter a word:</label>

        <input class="form-control" name="word" type="text" />

    </div>
    <input class="btn btn-info" type="submit" />

</form>